html, body{
    background-color:#111;
    margin-top:10px;
    color:#fff
}

a, a:visited, a:active{
    color:white;
    text-decoration:none;
}

h1,h2,h3{
    font-family:'Play', sans-serif;
    color:#fff;
}

.box h2{
    font-size:12px;   
}

#banner{
    border-bottom:1px solid #191919;
}

#user_box{
    text-align:right;
}

.playing{
    background-color:#444;
}

.homepage_box{
    line-height:250px;
    text-align:center;
}

.media_list{
     border-top:1px solid #191919
}

.media_list li{
    padding:10px 0 10px 32px;
    border-bottom:1px solid #191919;
    margin:0;
    list-style:none;
}

.media_list li:hover{
    background-color:#191919;
}

.media_list li:hover .delete{
	display:inline;
}

.media_list .delete{
	float:right;
	padding-right:10px;
	display:none;
}

#controls{
    position:fixed;
    bottom:10px;
    left:0;
    background-color: #191919;
}

#controls ul{
    list-style:none;
    display:block;
    float:left;
    margin:0 0 0 20px;
    padding:0;
}

#controls li{
    list-style:none;
    display:block;
    float:left;
    margin:0;
    padding:0;
}

#controls li a{
    display:block;
    float:left;
    line-height:50px;
    padding:0 20px;
    border-right:1px dashed #444;  
    border-left:1px dashed #444;  
}
#controls li a:hover{
  background-color:#444;

}

#fourohfour{
    text-align:center;
}

#footer{
    border-top:1px solid #191919;
    padding-top:10px;
    color:#191919;
    text-align: center;
}